h3{
    text-align: center;
    vertical-align: middle;
}

p{
    text-align: center;
}

#textlinks{
    float:left;
    margin-top: 10px;
    min-width: 240px;
    padding-right:0px;
}

#undertopbar{
    min-width: 600px;
    height:40px;
}

#inputs{
    float: left;
    min-width: 240px;
    padding-left:0px;
    padding-right:0px;
}

#form{
    padding-right:0px;
}

#searchdiv{
    padding-left:0px;
}

#zipdiv{
    padding-left:0px;
}

#zipcodebutton{
    min-width: 100px;
    margin-bottom: 0px;
}

#validzipcode{
    color: red;
    font-size: 10pt;
}

#filter{
    padding-left: 0px;
    float: left;
    min-width: 100px;
}

#searchbox{
   min-width: 100px;
   margin-bottom: 0px;
}

#enter{
     width: 0px;
     visibility: hidden;
     height: 0px;
}

#filterbutton{
    width: 130px;
    height: 37px;
    margin-bottom: 0px;
}

a:hover{
    text-decoration: underline;
    color: #0000FF;
}

.orbit-container{
    height: 480px;
    width: 600px;
}

.image-container{
    height: 480px;
    width: 600px;
}

#img{
    max-height: 480px;
    max-width: 600px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left:0px;
    right:0px;
    display: block;
    margin: auto;
}
