#tabsul{
   margin-left: 20px;
}

.tabs .tab-title > a{
    background-color: white;
}

.tabs .tab-title > a:hover{
    background-color: #F2F2F2;
}

.tabs .tab-title.active a{
    background-color: #D8D7D7;
}

#allpostspanel{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    padding-bottom: 0px;
    float: center;
}

#thumbnail{
    float:left;
}

#poststatus{
	padding-left: 10px;
}

#addbutton{
	margin-left:0px;
	margin-top:0px;
	margin-bottom:20px;
}

#edit_delete{
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#edit{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#delete{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#editbutton{
        margin-left:0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 5px;
        width: 75.25px;
        height: 30px;
        background-color: #189c2e;
        border-color: #189c2e;
        padding-left: 0px;
        padding-right: 0px;
}

#deletebutton{
        margin-left:0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 75.25px;
        height: 30px;
        background-color: #f94343;
        border-color: #f94343;
        padding-left: 0px;
        padding-right: 0px;
}

#postbuttons{
    margin-left:0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}


#repostbutton{
            margin-top: 25px;
            margin-bottom: 10px;
            background-color: #f0a355;
            border-color: #f0a355;
}

#savebutton{
    height : 38px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px; 
}

#cancelbutton{
    height: 38px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.editable-buttons{
    height: 40px;
}

.editable-click{
    white-space: pre-wrap;
}

#footer{
    width: 100%;
}
