.Signup{
    float:left;
    position:absolute;
}
.IDbox{
    float:left;
}

.PWbox{
    float:left;
}

li.centerli{
    padding:2px;
	margin:2px;
	width:240px;
	height:240px;  
}

li.sideli{
	margin:2px;
	padding:2px;
	width:120px;
	height:240px;
}

.small-block-grid-5 li img{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

.categoryDiv {
	position:relative;
	text-align:center;
}

.categoryDiv > .text {
	margin:0;
	padding:0;
	font-size:20px;
	display:none;
	position:absolute;
}

.description {
	margin:0;
	padding:0;
	font-size:14px;
	text-align:left;
	top:20%;
	left:5%;
	display:none;
	position:absolute;
	color:white;
	background:rgba(75, 175, 210, 1) none repeat scroll 0% 0%;
}

.fullWidth {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	max-width:63rem;
}

.center-width {
	width:240px;
	height:240px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

.center-width img {
	width:240px;
	height:240px;
}

.half-width {
	background:rgba(75, 175, 210, 1) none repeat scroll 0% 0%;
	width:120px;
	height:240px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
	opacity:1;
}

.half-width img {
	width:120px;
	height:240px;
}

.back-orange {
    	background-color:#FDA572;
}

.back-green {
    	background-color:#A7D201;
}

.back-yellow {
    	background-color:#EFBA0E;
}


.back-orange > .text {
	width:100%;
	color:white;
	background-color:#D78C87;
}

.back-green > .text {
	width:100%;
	color:white;
	background-color:#8EB227;
}

.back-yellow > .text {
	width:100%;
	color:white;
	background-color:#BF953E;
}

.half-width > .text {
    width: 100%;
    color: #FFF;
    background-color: #344F7D;
}

