.Signup{
    float:left;
    position:absolute;
}
.IDbox{
    float:left;
}

.PWbox{
    float:left;
}

li.centerli{
    padding:2px;
	margin:2px;
	width:240px;
	height:240px;  
}

li.sideli{
	margin:2px;
	padding:2px;
	width:120px;
	height:240px;
}

.small-block-grid-5 li img{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

.categoryDiv {
	position:relative;
	text-align:left;
}

.text {
	font-weight:bold;
	display:none;
	margin:0;
	padding:0;
	font-size:20px;
	position:absolute;
	left:4%;	
}

.description {
	display:none;
	margin:0;
	padding:0;
	font-size:14px;
	text-align:left;
	top:10%;
	left:5%;
	position:absolute;
	color:white;
}

.fullWidth {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	min-width:63rem;
}

.center-width {
	min-width:240px;
	height:240px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

.center-width img {
	min-width:240px;
	height:240px;
}

.half-width {
	background:rgba(75, 175, 210, 1) none repeat scroll 0% 0%;
	min-width:120px;
	height:240px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

.half-width img {
	min-width:120px;
	height:240px;
}

.back-orange {
    	background-color:#FDA572;
}

.back-green {
		background-color:#A7D201;
}

.back-yellow {
    	background-color:#EFBA0E;
}

.back-orange > .text {
	width:100%;
	color:white;
/*	background-color:#D78C87;*/
}

.back-green > .text {
	width:100%;
	color:white;
	/*background-color:#8EB227;*/
}

.back-yellow > .text {
	width:100%;
	color:white;
	/*background-color:#BF953E;*/
}

.half-width > .text {
    width: 100%;
    color: #FFF;
   /* background-color: #344F7D;*/
	font-size:14px;
}
