.Signup{
    float:left;
    position:absolute;
}
.IDbox{
    float:left;
}

.PWbox{
    float:left;
}

.small-block-grid-5 li{
    padding: 2px;
}

.small-block-grid-5 li img{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

.top-bar{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
